@font-face {
  font-family: 'Hurme Geometric Sans';
  src: url('./fonts/hurmegeometricsans4-bold-webfont.woff2') format('woff2'),
     url('./fonts/hurmegeometricsans4-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hurme Geometric Sans';
  src: url('./fonts/hurmegeometricsans4-regular-webfont.woff2') format('woff2'),
     url('./fonts/hurmegeometricsans4-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hurme Geometric Sans';
  src: url('./fonts/hurmegeometricsans4-semibold-webfont.woff2') format('woff2'),
      url('./fonts/hurmegeometricsans4-semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}